/* Increase button size */
.owl-nav button.owl-prev,
.owl-nav button.owl-next {
  width: 60px;
  height: 60px;
  font-size: 28px;
  /* icon/text size */
  border-radius: 50%;
}

/* Optional: center icon inside */
.owl-nav button.owl-prev span,
.owl-nav button.owl-next span {
 font-size: 60px;
 line-height: 60px;
}

/* Optional: hover effect */
.owl-nav button.owl-prev:hover,
.owl-nav button.owl-next:hover {
  transform: scale(1.1);
  color:white !important;
}


.btn-custom:hover{
  background: rgb(192, 171, 13) !important;
  color: white !important;
}

.services__item h4:hover{
  color: #ebcaab !important;
}



/* *****************404 Not found*************************** */
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {

  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}


.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}


/* *************************** */

.chooseus {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}